# Welcome to Python Workshop!

# Session 1: Python from scratch

## Part I: Constants, Types, & Variables

 ### Constants & Types

In [1]:
1 # integer

1

To comment a code, we use the pound sign #.

In [2]:
1.0 # floating point

1.0

In [3]:
'Hello Python' # string

'Hello Python'

We can check the type of a Python object using the function type(object_name):

In [4]:
type(1)

int

In [5]:
type(1.0)

float

In [6]:
type('Hello Python')

str

In [7]:
'a' # also a string

'a'

In [8]:
a

NameError: name 'a' is not defined

Here *a* is not in quotes, so Python thinks it is a variable. But since we haven't defined the variable called *a*, Python thus couldn't find this variable, so it gives us an error feedback.

### Variables
#### How to define a variable?

In [9]:
a = 2

In [10]:
a

2

Here we successfully defined a variable call *a*, which has the value *1*. 

The syntax for defining a variable:

variable_name = constant

The equality sign can be read as "assigning".

Let's play with mathematical operations.

In [11]:
b = 5

In [12]:
b

5

In [13]:
type(a)

int

In [14]:
type(b)

int

In [15]:
a + b

7

In [16]:
c = a + b

In [17]:
c

7

In [18]:
b - a

3

In [19]:
b / a  # Division

2

Why not 2.5?

In [20]:
5 / 2

2

In [21]:
5.0 / 2

2.5

In [22]:
5 / 2.0

2.5

In [23]:
5.0 / 2.0

2.5

In Python division '/', when both the numerator and denominator are integers, Python automatically convert the result to an integer, so 2.5 becomes 2 

So when we use '/', make sure either numerator or denominator or both are floating points. And we can change an integer to a floating point using the function float():

In [24]:
float(b)

5.0

In [25]:
float(b) / a

2.5

In [26]:
b % a  # Remainder

1

In [27]:
a * 2  # Multiplication

4

In [28]:
a ** 2 # Take the power of 2

4

What if I want to update the variable *a* by doubling it?

In [29]:
a = a * 2

In [30]:
a

4

Mathematically, $a = a \times 2$ is impossible if $a \neq 0$. However, here "$=$" doesn't mean "equal", but instead it means "assign", so we are **assign**ing $a$ with the value of $a \times 2 = 4$, although the variable name $a$ remains the same.

String concatenation:

In [31]:
word1 = 'Hello'
word2 = 'Python'

In [32]:
word1 + word2

'HelloPython'

In [33]:
word1 + ' ' + word2

'Hello Python'

**Python variable name rules**:

1. Must start with a letter or underscore

2. Can only contain letters or numbers or underscore

3. Cannot use **reserved words**,  e.g. **and del for print** ... (Those are key words in Python, they are function names or logical operators, or key words for loops conditions, etc.)

4. Case sensitive

Good names:  **x  x1  x_1  happy12  _inx**

Bad names: **1x  var.7  #fun  print**

These variables are *different*:  **fun  Fun  FUN**

In [34]:
_test = 5  # Starting with underscore is allowed.
_test

5

In [35]:
2isgreat = 5  # Can't start with a number!

SyntaxError: invalid syntax (<ipython-input-35-64c6261987d0>, line 1)

In [36]:
a

4

In [37]:
A   # Case sensitive. A is NOT a

NameError: name 'A' is not defined

In [38]:
A = 5

In [39]:
A

5

In [40]:
a

4

## Part II: Data Structures: Lists, Dictionaries, & Tuples

### Lists

In [41]:
lst = [1,2,2,5,'whale',7.8,'dog']

In [42]:
lst

[1, 2, 2, 5, 'whale', 7.8, 'dog']

A list is a **collection** that allows us to put **many values (constants and other Python objects)** in a **single** variable.

It's like a package that packs all the stuff together so that we can conveniently carry the package around.

A list element can be any object in Python, even another list:

In [43]:
superlist = [[1,2],['A','B'],9.9]

In [44]:
superlist

[[1, 2], ['A', 'B'], 9.9]

Let's play with a simple list...

In [45]:
lst = ['C','B','A','D']

In [46]:
lst

['C', 'B', 'A', 'D']

What if there are tons of elements is a list? How can I know how many elements there are? It's not that appealing to count them one-by-one... :-/

In [47]:
len(lst)

4

Retrieve element(s) of a list (list indexing, slicing):

In [48]:
lst[1]  # Put the index of the element we'd like to retrieve in that square brackets

'B'

Why didn't we get 'C'? After all, 'C' is the **first** element of $lst$.

In [49]:
lst[0]

'C'

Here we go! In Python, indices **start from 0**!! So the index of 'C' is 0

Retrieve more than one elements:

In [50]:
lst[1:3]

['B', 'A']

In the square bracket, the number before the colon is the index of 'B', and that after is **the index of 'A' + 1**!

In [51]:
lst[1:4]

['B', 'A', 'D']

Since 'D' is the last element of $lst$, we can simply use:

In [52]:
lst[1:]

['B', 'A', 'D']

In [53]:
lst[0:2]

['C', 'B']

Similarly, since 'C' is the first element of $lst$, we can simply put:

In [54]:
lst[:2]

['C', 'B']

Retrieve the last element:

In [55]:
lst[len(lst)-1]

'D'

In [56]:
lst[-1]

'D'

In [57]:
lst[-2:]  # Retrieve the last two elements.

['A', 'D']

In [58]:
lst[-3:]  # The last three

['B', 'A', 'D']

In [59]:
lst[-3:-1]  # The last two and three

['B', 'A']

A list is **mutable**. We can replace the existing elements, add new elements, delete existing elements, change the order of the elements, etc.

In [60]:
lst[0] = 'F'  # Replace the first element with 'F'
lst

['F', 'B', 'A', 'D']

Add a new element to an existing list:

In [61]:
lst.append('E')  # The "append" attribute of list

In [62]:
lst

['F', 'B', 'A', 'D', 'E']

Delete an existing element:

In [63]:
del lst[0]  # Delete the element with index 0

In [64]:
lst

['B', 'A', 'D', 'E']

How to put the deleted 'C' back? (list concatenation)

In [65]:
newlst = ['C']

In [66]:
lst = newlst + lst

In [67]:
lst

['C', 'B', 'A', 'D', 'E']

Sort a list:

In [68]:
lst.sort()

In [69]:
lst

['A', 'B', 'C', 'D', 'E']

In [70]:
lst1 = [5,2, 8, 5, 2.2,7]

lst1

[5, 2, 8, 5, 2.2, 7]

In [71]:
lst1.sort()
lst1

[2, 2.2, 5, 5, 7, 8]

### Dictionary

A Python dictionary is analogous to a real-life dictionary. 

In a real dictionary, we have lots of entries, with each entry containing a word and its definition.

In a Python dictionary, we also have entries, with each entry containing a **key** and its **value**.

In [72]:
mymeal = {'breakfast':'sandwich','lunch':'salad','dinner':'pizza'}  # Define a dictionary

In [73]:
mymeal

{'breakfast': 'sandwich', 'dinner': 'pizza', 'lunch': 'salad'}

There are 3 entries in *mymeal*. Each entry has a key (the name of a meal), and the corresponding value (the food).

Notice that a dictionary is not ordered.

Retrieve an entry in a dictionary by the key:

In [74]:
mymeal['breakfast']

'sandwich'

In [75]:
mymeal['dinner']

'pizza'

Change the value of an entry:

In [76]:
mymeal['breakfast'] = 'pancake'
mymeal

{'breakfast': 'pancake', 'dinner': 'pizza', 'lunch': 'salad'}

Add a new entry:

In [77]:
mymeal['midnight_snack'] = 'banana'
mymeal

{'breakfast': 'pancake',
 'dinner': 'pizza',
 'lunch': 'salad',
 'midnight_snack': 'banana'}

Delete an entry (Better not have any snack at midnight. Let's be healthy :-)

In [78]:
del mymeal['midnight_snack']
mymeal

{'breakfast': 'pancake', 'dinner': 'pizza', 'lunch': 'salad'}

Retrieve all the values:

In [79]:
food = mymeal.values()
food   # food is a list

['salad', 'pancake', 'pizza']

Retrieve all the keys:

In [80]:
meals = mymeal.keys()
meals  # is also a list

['lunch', 'breakfast', 'dinner']

Dictionaries are very useful in Python programming. Here I just showed a simple example. In real-life cases, we can use dictionaries to store the zip codes of United States, to store the phone numbers or email addresses of our contacts, etc.

### Tuples

Roughly speaking, tuples are **immutable** lists.

In [81]:
lst = ['A','B','C','D']
lst

['A', 'B', 'C', 'D']

In [82]:
tup = ('A','B','C','D')
tup

('A', 'B', 'C', 'D')

In [83]:
lst[0]

'A'

In [84]:
tup[0]  # We can do the same indexing and slicing to tuples.

'A'

In [85]:
lst[0] = 'E'
lst

['E', 'B', 'C', 'D']

In [86]:
tup[0] = 'E'  # We canNOT change an element of a tuple.

TypeError: 'tuple' object does not support item assignment

In [87]:
tup.append('E')  # We canNOT append a new element to an existing tuple.

AttributeError: 'tuple' object has no attribute 'append'

In [88]:
tup.sort()  # We canNOT sort a tuple.

AttributeError: 'tuple' object has no attribute 'sort'

So why do we still use tuples?

1. It is that we cannot change a tuple variable, Python therefore does not need to allocate much memory to it. So compared to lists, tuples are more efficient in terms of memory usage and performance.

2. For a variable that we know for sure we will not change its value, or in a worse case if we mistakenly change the value, it would cause huge errors to the results, it is wiser to use tuple rather than list.

3. We can use tuples to do "one-step assignment of multiple variables":

In [89]:
(x,y) = (1,2)

In [90]:
x

1

In [91]:
y

2

In [92]:
x,y = 1,2  # The parentheses can even be omitted.

In [93]:
x

1

In [94]:
y

2

In [95]:
a,b,c = 1,11,111

In [96]:
a

1

In [97]:
b

11

In [98]:
c

111